spring.application.name: api-consumer

spring.threads.virtual.enabled: true

server.port: 7002

#spring.ssl.bundle.jks.mykeystore:
#  key:
#    alias: localhost
#  keystore:
#    type: PKCS12
#    location: classpath:mykeystore.p12
#    password: mypassword

spring.http:
  clients:
    read-timeout: 2000ms
    connect-timeout: 500ms
#   ssl.bundle: mykeystore

  serviceclient:
    default: # default group (no load balancing)
      connect-timeout:
        nanos: 6666

    productGroup:
      base-url: http://localhost:7001
      apiversion.default: 1

    recommendationGroup:
      base-url: http://localhost:7001
      apiversion.default: 2

    reviewGroup:
      base-url: http://localhost:7001
      apiversion.default: 3
#     default-header:
#       -Accept: application/json
#     apiversion.insert.path-segment: 0

app:
  product-service:
    host: localhost
    port: 7001
  recommendation-service:
    host: localhost
    port: 7001
  review-service:
    host: localhost
    port: 7001

management:
  opentelemetry.tracing.export.otlp.endpoint: http://localhost:4318/v1/traces
  tracing.sampling.probability: 1.0
  otlp.metrics.export.enabled: false

logging.level:
  root: INFO
  se.magnus: DEBUG
  # reactor.netty.http.client.HttpClientConnect: DEBUG
