spring.application.name: api-consumer

spring.threads.virtual.enabled: true

server.port: 7002

#spring.ssl.bundle.jks.mykeystore:
#  key:
#    alias: localhost
#  keystore:
#    type: PKCS12
#    location: classpath:mykeystore.p12
#    password: mypassword

spring.http:
  clients:
    connect-timeout: 500ms
    read-timeout: 1000ms
#   ssl.bundle: mykeystore

  serviceclient:
    default: # default group (no load balancing)
      connect-timeout:
        nanos: 6666

    productGroup:
      base-url: http://localhost:7001
      apiversion.default: 1

    recommendationGroup:
      base-url: http://localhost:7001
      apiversion.default: 2

    reviewGroup:
      base-url: http://localhost:7001
      apiversion.default: 3
#     default-header:
#       -Accept: application/json
#     apiversion.insert.path-segment: 0

app:
  product-service:
    host: localhost
    port: 7001
  recommendation-service:
    host: localhost
    port: 7001
  review-service:
    host: localhost
    port: 7001


management:
  endpoints.web.exposure.include: health,info,circuitbreakers,circuitbreakerevents
  opentelemetry.tracing.export.otlp.endpoint: http://localhost:4318/v1/traces
  tracing.sampling.probability: 1.0
  otlp.metrics.export.enabled: false

# Suggestion from ChatGPT

#spring:
#  http:
#    serviceclient:
#      productGroup:
#        connect-timeout: 500ms
#        read-timeout: 500ms

resilience4j:
  retry:
    instances:
      productGroup:
        maxAttempts: 2
        waitDuration: 100ms

  circuitbreaker:
    instances:
      productGroup:
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

# MY OWN CONFIG

resilience4j.timelimiter:
  instances:
    productGroup:
      timeoutDuration: 20s

spring:
  cloud:
    circuitbreaker:
      resilience4j:
        disable-time-limiter: true

#resilience4j:
#  circuitbreaker:
#    instances:
##      productGroupNew:
##        slidingWindowType: COUNT_BASED
##        slidingWindowSize: 10
##        minimumNumberOfCalls: 5
##        failureRateThreshold: 50
##        waitDurationInOpenState: 10s
##        permittedNumberOfCallsInHalfOpenState: 3
#
#      productGroup:
##        allowHealthIndicatorToFail: false
##        registerHealthIndicator: true
#        allowHealthIndicatorToFail: true
#        registerHealthIndicator: false
#        slidingWindowType: COUNT_BASED
#        slidingWindowSize: 5
#        failureRateThreshold: 50
#        waitDurationInOpenState: 10000
#        permittedNumberOfCallsInHalfOpenState: 3
#        automaticTransitionFromOpenToHalfOpenEnabled: true
#        ignoreExceptions:
#          - se.magnus.sb4labs.api.exceptions.InvalidInputException
#          - se.magnus.sb4labs.api.exceptions.NotFoundException
#

logging.level:
  root: INFO
  se.magnus: DEBUG
  # reactor.netty.http.client.HttpClientConnect: DEBUG
